body{
	font-family: Segoe UI, sans-serif;
	font-size: 14px;
	color: #666;
	margin: 0;
}

header{
	background-color: #000;
	text-align: center;
	color: #fff;
	
}
header h1{
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 600px;
	font-size: 22px;
}

